@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Персональні дані";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Ваш обліковий запис містить особисті дані, які ви нам надали. На цій сторінці ви можете завантажити або видалити ці дані.</p>
        <p>
            <strong>Видалення цих даних призведе до остаточного видалення вашого облікового запису, і їх неможливо буде відновити.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Завантажити</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">Видалити</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
