@model Rocky_Models.OrderHeader

<div class="text-center">

    @if(Model != null)
     {

           <h1 class="text-info">Замовлення створено</h1>
           <p>Замовлення #@Model.Id успішно створено!</p>

    }
    else
    {

        <h1 class="text-info">Підтвердження запиту</h1>
        <p>Ми отримали ваш запит, і хтось із нашої команди зв'яжеться з вами найближчим часом!</p>

    }
    <img src="/images/patio.jpg" alt="#" width="80%"/>
</div>